/* In your component's CSS file (e.g., your-component.component.css) */

.product-details-container {
    background-color: #ffffff;
    padding: 20px;
}

.product-image {
    max-width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}

.product-details {
    padding: 10px;
    background-color: #fff;
}

.category {
    font-weight: bold;
}

.description {
    color: #777;
}

.price {
    font-size: 1.2em;
    color: #ff6600;
}

.quantity-label {
    font-weight: bold;
    margin-right: 10px;
}

.quantity-control mat-icon {
    cursor: pointer;
}


.button-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.button-buy {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.button {
    display: flex;
}
.button-cart mat-icon,
.button-buy mat-icon {
    margin-right: 5px;
}

.button-cart:hover,
.button-buy:hover {
    background-color: #0056b3;
}

.icon {
    margin-right: 5px;
}


.col-md-3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 25%; /* To ensure consistent card sizes, limit the width */
  }
  
  .card-description {
    margin: 5px 0;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    text-wrap: balance;
  }
  
  
  .product-card {
    position: relative;
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-category-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .card-description {
    margin: 5px 0;
    color: #555;
    text-overflow: ellipsis;
  }
  
  .card-price {
    font-size: 20;
    color: #007bff;
  }
  
  .button-container {
    bottom: 0;
    right: 0;
  }
  
  .buttons-right-bottom {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .button-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  .button-buy-delete {
    display: flex;
    flex-direction: row-reverse; /* Place the buttons to the right */
  }
  .icon {
    margin-right: 5px; /* Adjust the spacing between the icon and text as needed */
  }
  
  .button-cart:hover {
    background-color: #0056b3;
  }
  
  .button-buy {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  
  .button-delete {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .button-cart:hover,
  .button-buy:hover {
    background-color: #0056b3;
  }
  
  a {
    color: black; /* Màu xanh */
    text-decoration: none; /* Thêm gạch chân */
  }